@page "/"

<PageTitle>Home</PageTitle>

<div class="container py-4">
    <div class="p-4 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-6 fw-bold">Kalamar Task Management</h1>
            <p class="col-md-9 fs-6">
                Welcome! If your database is empty, that is totally fine.
                Start by creating your first user, then add tasks.
            </p>
            <div class="d-flex gap-2 flex-wrap">
                <a class="btn btn-primary" href="/users">Go to Users</a>
                <a class="btn btn-outline-primary" href="/tasks">Go to Tasks</a>
            </div>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">1) Create Users</h5>
                    <p class="card-text">Open the Users page and add team members.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">2) Create Tasks</h5>
                    <p class="card-text">Open the Tasks page and assign tasks to users.</p>
                </div>
            </div>
        </div>
    </div>
</div>
