apiVersion: v1
kind: ConfigMap
metadata:
  name: kalamar-gateway-config
  namespace: {{ .Values.namespace }}
data:
  appsettings.json: |
    {
      "ReverseProxy": {
        "Routes": [
          {
            "RouteId": "users-route",
            "ClusterId": "users-cluster",
            "Match": {
              "Path": "/api/user/{**catch-all}"
            }
          },
          {
            "RouteId": "tasks-route",
            "ClusterId": "tasks-cluster",
            "Match": {
              "Path": "/api/task/{**catch-all}"
            }
          },
          {
            "RouteId": "users-route-legacy",
            "ClusterId": "users-cluster",
            "Match": {
              "Path": "/api/users/{**catch-all}"
            }
          },
          {
            "RouteId": "tasks-route-legacy",
            "ClusterId": "tasks-cluster",
            "Match": {
              "Path": "/api/tasks/{**catch-all}"
            }
          }
        ],
        "Clusters": {
          "users-cluster": {
            "Destinations": {
              "users-destination": {
                "Address": "http://kalamar-user:8081/"
              }
            }
          },
          "tasks-cluster": {
            "Destinations": {
              "tasks-destination": {
                "Address": "http://kalamar-task:8083/"
              }
            }
          }
        }
      }
    }